[Desktop Entry]
Name=AppImageAssistant
Exec=AppImageAssistant
Icon=AppImageAssistant
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
